<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.makewithmoto.example"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="12"
        android:targetSdkVersion="16" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:name="Application"
        android:allowBackup="false"
        android:hardwareAccelerated="true"
        android:icon="@drawable/logo_gray"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <uses-library
            android:name="com.android.future.usb.accessory"
            android:required="false" />

        <activity
            android:name="com.makewithmoto.example.LauncherActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.makewithmoto.example.ActivityJavascript" >
        </activity>
        <activity android:name="com.makewithmoto.example.ActivityMAKr" >
        </activity>
        <activity android:name="com.makewithmoto.example.ActivityMOIO" >
        </activity>
        <activity android:name="com.makewithmoto.example.ActivityBT" >
        </activity>
        <activity
            android:name="com.makewithmoto.bt.BluetoothViewer"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.makewithmoto.bt.DeviceListActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="select device"
            android:theme="@style/BTTheme" />
        <activity
            android:name="android.bluetooth.RequestEnableActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="Bluetooth Permission Request"
            android:noHistory="true" >
            <intent-filter>
                <action android:name="net.bluetoothviewer.action.REQUEST_ENABLE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>


        <service android:name="com.makewithmoto.boards.MOIOService" >
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_ACCESSORY_ATTACHED" />
            </intent-filter>

            <meta-data
                android:name="android.hardware.usb.action.USB_ACCESSORY_ATTACHED"
                android:resource="@xml/accessory_filter" />
        </service>
    </application>

</manifest>